%p#notice= notice

%p
  %b User:
  = @recipe.user.twitter
%p
  %b Title:
  = @recipe.title
%p
  %b Description:
  = @recipe.description

%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#ingredients"} Ingredients
  %li
    %a{"data-toggle" => "tab", href: "#steps"} Steps

.tab-content
  #ingredients.tab-pane.active
    - @ingredients = @recipe.ingredients
    = render :partial => 'ingredients/index'
  #steps.tab-pane
    - @steps = @recipe.steps
    = render :partial => 'steps/index'

%br
= link_to 'Edit', edit_user_recipe_path(@recipe.user, @recipe)
\|
= link_to 'Back', user_recipes_path(@user)
