%p#notice= notice

%p
  %b User:
  = @recipe.user.twitter
%p
  %b Title:
  = @recipe.title
%p
  %b Description:
  = @recipe.description

%h2 Ingredients
- @ingredients = @recipe.ingredients
= render :partial => 'ingredients/index'

%h2 Steps

- @steps = @recipe.steps
= render :partial => 'steps/index'

%br
= link_to 'Edit', edit_user_recipe_path(@recipe.user, @recipe)
\|
= link_to 'Back', user_recipes_path(@user)
