%h1 Listing users

%table.table.table-striped.table-bordered
  %tr
    %th Twitter
    %th
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.twitter
      %td= link_to 'Recipies', user_recipes_path(user)
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
