%h1 Welcome to the best cookbook site EVER!

%h2 Recipes

- @recipes = Recipe.page(params[:page])
= paginate @recipes
%table.table.table-striped.table-bordered
  %tr
    %th User
    %th Image
    %th Title
    %th Description
    %th

  - @recipes.each do |recipe|
    %tr
      %td= recipe.user_id
      %td
        %img{ src: recipe.image_url, class: 'img-thumbnail', style: 'width:64px'}
      %td= recipe.title
      %td= recipe.description
      %td= link_to 'Show', [recipe.user, recipe]
= paginate @recipes


%h2 Users

- @users = User.all
%table.table.table-striped.table-bordered
  %tr
    %th Twitter
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.twitter
      %td= link_to 'Recipies', user_recipes_path(user)
      %td= link_to 'Show', user