:css
  .css1 { font-size: 1.0em; }
  .css2 { font-size: 1.2em; }
  .css3 { font-size: 1.4em; }
  .css4 { font-size: 1.6em; }

%h1 Welcome to the best cookbook site EVER!

%h2 Recipes

- @recipes = params[:tag].blank? ? Recipe.page(params[:page]) : Recipe.tagged_with(params[:tag]).page(params[:page])

= paginate @recipes
%table.table.table-striped.table-bordered
  %tr
    %th User
    %th Image
    %th Title
    %th Description
    %th

  - @recipes.each do |recipe|
    %tr
      %td= recipe.user_id
      %td
        %img{ src: recipe.image_url, class: 'img-thumbnail', style: 'width:64px'}
      %td= recipe.title
      %td= recipe.description
      %td= link_to 'Show', [recipe.user, recipe]
= paginate @recipes

%h2 Tags

- @tags = Recipe.tag_counts
- tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
  =# link_to tag.name, recipes_path(tag: tag.name), :class => css_class
  = link_to tag.name, root_path(tag: tag.name), :class => css_class

%br
= link_to "Show All Recipes", root_path

%h2 Users

- @users = User.all
%table.table.table-striped.table-bordered
  %tr
    %th Twitter
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.twitter
      %td= link_to 'Recipies', user_recipes_path(user)
      %td= link_to 'Show', user