%table.table.table-striped.table-bordered
  %tr
    %th Recipe
    %th Position
    %th Description
    %th
    %th

  - @steps.each do |step|
    %tr
      %td= step.recipe_id
      %td= step.position
      %td= step.description
      %td= link_to 'Edit', edit_user_recipe_step_path(step.recipe.user, step.recipe, step)
      %td= link_to 'Destroy', [step.recipe.user, step.recipe, step], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to 'New Step', new_user_recipe_step_path(@recipe.user, @recipe) if @recipe
